.container__link {
  font-family: 'Inter', Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  transition: 0.3s;
}

.container__link:hover {
  opacity: 0.8;
}
