.cover__subtitle {
    z-index: 1;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-height: 66px;
    max-width: 360px;
}

@media (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-height: 48px;
        max-width: 288px;
    }
}
