.header__logo {
  margin: 0;
  min-width: 176px;
  min-height: 52px;
  background-image: url(../../../images/header-logo.svg);
}

@media (max-width: 767px) {
  .header {
    min-width: 142px;
    min-height: 42px;
  }
}
